/* ==== Header Blur Box ==== */
.page-header-blur {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(6px);
    padding: 30px;
    border-radius: 16px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
    color: white;
}

/* ==== Job Card Styling ==== */
.job-card {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(6px);
    border-radius: 16px;
    border: 3px solid rgba(255, 255, 255, 0.1);
    color: white;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.job-checkbox:hover {
    transform: scale(0.9);
    filter: drop-shadow(0 0 4px rgba(0, 242, 255, 0.9)); /* brighter glow on hover */
}

/* ==== Text Colors ==== */
.text-light {
    color: #e0e0e0 !important;
}

.text-muted {
    color: #bbb !important;
}

.text-white {
    color: white;
}

/* ==== Animated Gradient Button ==== */
.btn-gradient {
    background: linear-gradient(90deg,  #00f7ff, #0084ff, #00f7ff);
    background-size: 200% auto;
    color: white;
    animation: sparkle 2s linear infinite;
    font-weight: 600;
    border: none;
}

.btn-gradient1 {
    background: linear-gradient(90deg, #88ff00, #00f2ff, #88ff00);
    background-size: 200% auto;
    color: white;
    animation: sparkle 2s linear infinite;
    font-weight: 600;
    border: none;
    
}

.btn-gradient:hover {
    opacity: 0.9;
    transform: scale(1.02);
}

.btn-gradient1:hover {
    opacity: 0.9;
    transform: scale(1.02);
}
