/* style.css */

.navbar {
    z-index: 1050;
    padding: 22px;
    background-color: black;
}

.navbar-brand img {
    width: 250px; /* adjust to your desired size */
    height: auto; /* maintain aspect ratio */
    margin-left: 20px;
}

.navbar-brand {
    margin-right: 20rem; /* adds space between logo and menu */
}

.nav-item {
    margin: 20px;
    color:white;
}

html, body {
    height: 100%;
    margin: 0;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.dropdown-menu {
  background-color: transparent;
  backdrop-filter: blur(10px); /* optional blur for a glass effect */
  border: none;
  box-shadow: none;
}

/* Force dropdown on hover */
.navbar-nav .dropdown:hover > .dropdown-menu {
    display: block;
    margin-top: 0;
}

.dropdown:hover .dropdown-menu {
    pointer-events: auto;
}

.dropdown-item {
  color: #fff;
}

/* Vanta background covers full screen and stays behind everything */
#vanta-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: linear-gradient(135deg, #ffffff 0%, #9defff 100%);
}


.footer {
    flex-shrink: 0;
}

.footer a {
    color: grey;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer a:hover {
    text-decoration: underline;
    color: white;
}

.footer-logo {
    max-width: 160px;
    height: auto;
    padding-left: 30px;
}