body {
        font-family: 'Open Sans', sans-serif;
    }

    .privacy-wrapper {
        max-width: 1000px;
        margin: auto;
        padding: 60px;
        background-color: rgba(255, 255, 255, 0.05);
        backdrop-filter: blur(5px);
    }

    .privacy-wrapper h1 {
        text-align: center;
        font-size: 3rem;
        font-weight: 700;
        margin-bottom: 40px;
    }

    .privacy-wrapper h3 {
        margin-top: 35px;
        font-size: 1.6rem;
        color: #ffffff;
        border-left: 4px solid #00c6ff;
        padding-left: 12px;
        margin-bottom: 35px;
    }

    .privacy-wrapper p {
        font-size: 1rem;
        line-height: 1.75;
        color: #e0e0e0;
        margin-top: 12px;
    }


    @media (max-width: 768px) {

        .col-md-6,
        .col-md-4 {
            flex: 0 0 100%;
            max-width: 100%;
        }

        .application-wrapper {
            padding: 25px 20px;
        }
    }