{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/job_post.css' %}">
{% endblock %}

{% block title %}Post a Job | Lendeavor{% endblock %}

{% block body %}
<section class="container">
    <div class="job-post-form p-5">
        <h2 class="text-white text-center mb-4">Post a New Job</h2>
        <form method="POST">
            {% csrf_token %}
            
            <div class="mb-3">
                <label class="form-label text-white">Job Title<span style = "color:red;">*</span></label>
                <input type="text" name="title" class="form-control" required>
            </div>

            <div class="mb-3">
                <label class="form-label text-white">Location<span style = "color:red;">*</span></label>
                <input type="text" name="location" class="form-control" required>
            </div>

            <div class="mb-3">
                <label class="form-label text-white">Job Type<span style = "color:red;">*</span></label>
                <select name="job_type" class="form-select" required>
                    <option value="">-- Select Type --</option>
                    <option value="contract">Contract</option>
                    <option value="part_time">Part Time</option>
                    <option value="full_time">Full Time</option>
                    <option value="internship">Internship</option>
                </select>
            </div>

            <div class="mb-3">
                <label class="form-label text-white">Work Mode<span style = "color:red;">*</span></label>
                <select name="work_mode" class="form-select" required>
                    <option value="">-- Select Mode --</option>
                    <option value="in office">In Office</option>
                    <option value="hybrid">Hybrid</option>
                    <option value="remote">Remote</option>
                </select>
            </div>

            <div class="mb-3">
                <label class="form-label text-white">Description<span style = "color:red;">*</span></label>
                <textarea name="description" class="form-control" rows="4" required></textarea>
            </div>

            <div class="mb-3">
                <label class="form-label text-white">Skills Required<span style = "color:red;">*</span></label>
                <textarea name="skills" class="form-control" rows="3" required></textarea>
            </div>

              <div class="mb-3">
                <label class="form-label text-white">Salary</label>
                <textarea name="salary" class="form-control" rows="3"></textarea>
            </div>

            <div class="mb-3">
                <label class="form-label text-white">Contact Email<span style = "color:red;">*</span></label>
                <input type="email" name="email" class="form-control" value="info@lendeavorusa.com" required>
            </div>

            <div class="mb-3">
                <label class="form-label text-white">Added By<span style = "color:red;">*</span></label>
                <input type="email" name="added_by" class="form-control" required>
            </div>

            <button type="submit" class="btn btn-success w-100 mt-4" style="background: linear-gradient(90deg, #00f2ff, #007bff); color: white; font-weight: bold;">
                Submit Job
            </button>
        </form>
    </div>
</section>
{% endblock %}
