{% extends 'base.html' %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/affiliate.css' %}">
<!-- Load Google Fonts -->
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/cust_feedback.css' %}">
<!-- Swiper CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css" />

{% endblock head %}

{% block title %}Affiliate | {% endblock title %}

{% block body %}

<div class="blur-background">

    <!-- Hero Section -->
    <div class="heading-container text-center py-5">
        <div class="blurred-heading">
            <h1 class="main-heading text-white fw-bold" style="font-size: 3rem;">Become a Lendeavor Affiliate</h1>
            <p
                style="color:grey; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-weight: 300;">
                Partner with us, share our mission, and earn rewards while helping businesses secure the funding they
                need to grow.</p>
        </div>
    </div>

    <!-- Intro Section -->
    <div class="info-image-card d-flex flex-column flex-md-row align-items-stretch g-0">
        <div class="nested-image text-center full-height flex-fill">
            <img src="{% static 'landing_img4.png' %}" alt="Lendeavor Affiliate Banner"
                class="side-image img-fluid">
        </div>
        <div class="nested-info text-white w-100">
            <h4 class="fw-bold">Join the Lendeavor's Affiliate Program!</h4>
        <br/>
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label>First Name<span style="color:red;">*</span></label>
                    <input type="text" name="first_name" id="first_name" required>
                </div>
                <div class="form-group">
                    <label>Last Name<span style="color:red;">*</span></label>
                    <input type="text" name="last_name" id="last_name" required>
                </div>
                <div class="form-group">
                    <label>Email<span style="color:red;">*</span></label>
                    <input type="email" name="email" id="email" required>
                </div>
                <div class="form-group">
                    <label>Cell Phone<span style="color:red;">*</span></label>
                    <input type="tel" name="phone" id="phone" maxlength="10" required>
                </div>
                <div class="form-group">
                    <label>Company</label>
                    <input type="text" name="company" id="company">
                </div>
                <div class="form-group">
                    <label>Title</label>
                    <input type="text" name="title" id="title">
                </div>
                <div class="form-group">
                    <label>Website</label>
                    <input type="url" name="website" id="website" placeholder="Website URL">
                </div>
                <div class="form-group">
                    <label>Business Phone</label>
                    <input type="tel" name="business_phone" maxlength="10" id="business_phone">
                </div>
                <div class="form-group full-width">
                    <label>Are you able to accept commission?<span style="color:red;">*</span></label>
                    <div class="radio-group">
                        <input type="radio" id="payment_yes" name="is_payment" value="Yes">
                        <label for="payment_yes">Yes</label>
                        <input type="radio" id="payment_no" name="is_payment" value="No">
                        <label for="payment_no">No</label>
                    </div>
                </div>
                <div class="form-group full-width">
                    <label>Are you a Social Media Influencer?<span style="color:red;">*</span></label>
                    <div class="radio-group">
                        <input type="radio" id="influencer_yes" name="is_influencer" value="Yes" required>
                        <label for="influencer_yes">Yes</label>
                        <input type="radio" id="influencer_no" name="is_influencer" value="No">
                        <label for="influencer_no">No</label>
                    </div>
                </div>
                <div class="terms form-group full-width">
                    <label>
                        <input type="checkbox" name="terms" id="terms" required>
                        I agree to the <a href="/terms" style="color: #fff; text-decoration: underline;">Terms and
                            Conditions<span style="color:red;">*</span></a>
                    </label>
                </div>
                <button type="submit" class="btn btn-primary">Apply Now</button>
            </form>
        </div>
    </div>

    <!-- Our Mission Section -->
    <section class="container my-5">
        {% include 'cust_feedback.html' %}
    </section>

</div>
{% endblock body %}
