{% extends 'base.html' %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/affiliate.css' %}">
<!-- Load Google Fonts -->
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/cust_feedback.css' %}">
<!-- Swiper CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css" />

{% endblock head %}

{% block title %}Affiliate | {% endblock title %}

{% block body %}

<section class="affiliate-section">
    <div class="container">
        <!-- Hero Section -->
        <div class="page-header text-center mb-5">
            <div class="container blurred-heading">
                <h1 class="main-heading text-white" style="font-size: 3rem; font-weight: 100;">Become a Lendeavor Affiliate</h1>
                <p
                    style="color:grey; font-family: 'Open Sans', sans-serif; font-size:1.1rem;">
                    Partner with us, share our mission, and earn rewards while helping businesses secure the funding they need to grow.
                    At Lendeavor we offer both a Referral partnership and Affiliate marketing program. You will have access to our unique online portal with visibility to track all of your deal flow. 
                    Simply generate leads and get paid a commission on all funded accounts. 
                </p>
            </div>
        </div>

        <div class="title">
            <h1>How Does It Work?</h1>
        </div>

        <div class="affiliate-image">
            <img src="{% static 'affiliate.png' %}" alt="Lendeavor Affiliate Banner"
                class="side-image img-fluid">
        </div>

        <div class="join-title">
            <h1>Join Our Affiliate Program!</h1>
        </div>

        <!-- Intro Section -->
            
        <div class="nested-info text-white w-100">
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label>First Name<span style="color:red;">*</span></label>
                    <input type="text" name="first_name" id="first_name" required>
                </div>

                <div class="form-group">
                    <label>Last Name<span style="color:red;">*</span></label>
                    <input type="text" name="last_name" id="last_name" required>
                </div>

                <div class="form-group">
                    <label>Email<span style="color:red;">*</span></label>
                    <input type="email" name="email" id="email" required>
                </div>

                <div class="form-group">
                    <label class="form-label">Cell Phone <span style="color:red;">*</span></label>
                    <div class="input-group">
                        <span class="input-group-text">+1</span>
                        <input type="tel" id="phone" name="phone" maxlength="10" class="form-control" placeholder="Phone number" required>
                    </div>
                </div>

                <div class="form-group">
                    <label>Company</label>
                    <input type="text" name="company" id="company">
                </div>

                <div class="form-group">
                    <label>Title</label>
                    <input type="text" name="title" id="title">
                </div>

                <div class="form-group">
                    <label>Website</label>
                    <input type="url" name="website" id="website" placeholder="Website URL">
                </div>

                <div class="form-group">
                    <label class="form-label">Business Phone </label>
                    <div class="input-group">
                        <span class="input-group-text">+1</span>
                        <input type="tel" id="business_phone" name="business_phone" maxlength="10" class="form-control" placeholder="Phone number">
                    </div>
                </div>

                <div class="form-group full-width">
                    <label>Are you able to accept commission?<span style="color:red;">*</span></label>
                    <div class="radio-group">
                        <input type="radio" id="payment_yes" name="is_payment" value="Yes">
                        <label for="payment_yes">Yes</label>
                        <input type="radio" id="payment_no" name="is_payment" value="No">
                        <label for="payment_no">No</label>
                    </div>
                </div>

                <div class="form-group full-width">
                    <label>Are you a Social Media Influencer?<span style="color:red;">*</span></label>
                    <div class="radio-group">
                        <input type="radio" id="influencer_yes" name="is_influencer" value="Yes" required>
                        <label for="influencer_yes">Yes</label>
                        <input type="radio" id="influencer_no" name="is_influencer" value="No">
                        <label for="influencer_no">No</label>
                    </div>
                </div>

                <div class="terms form-group full-width">
                    <label>
                        <input type="checkbox" name="terms" id="terms" required>
                        I agree to the <a href="/terms" style="text-decoration: underline;">Terms and
                            Conditions<span style="color:red;">*</span></a>
                    </label>
                </div>

                <button type="submit" class="btn btn-primary" style="background: linear-gradient(90deg,  #00f7ff, #0084ff, #00f7ff);
                    animation: sparkle 2s linear infinite;"><i class="fas fa-paper-plane"></i> Submit</button>
            </form>
        </div>
    </div>
</section>

<!-- Our Mission Section -->
<section class="container my-5">
    {% include 'cust_feedback.html' %}
</section>

{% endblock body %}
