{% extends 'password_reset_base.html' %}
{% block head %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/password_reset.css' %}">

{% endblock head %}

{% block title %}
Reset Password
{% endblock title %}

{% block body %}
<form method="post">
    {% csrf_token %}
    <label for="email" class="form-label">Email Address<span style='color:red;'>*</span></label>
    <input type="email" class="form-control" id="email" name="email" required>
    <button type="submit">Send Reset Link</button>
</form>

<!-- Auto fading of messages-->
<script src="{% static 'js/message_fade.js' %}"></script>

{% endblock body %}