{% extends 'password_reset_base.html' %}
{% block head %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/password_reset.css' %}">

{% endblock head %}

{% block title %}
New Password
{% endblock title %}

{% block body %}
<form method="post">
    {% csrf_token %}
    <h2 style = "text-align: center;">New password</h2><br/>
    <div class="mb-3">
        <label for="password1" class="form-label">Password<span style='color:red;'>*</span></label>
        <input type="password" class="form-control" id="password1" name="password1" required>
    </div>

    <div class="mb-4">
        <label for="password2" class="form-label">Confirm Password<span style='color:red;'>*</span></label>
        <input type="password" class="form-control" id="password2" name="password2" required>
    </div>
    <input type="hidden" name="token" value="{{ token }}">
    <button type="submit">Reset Password</button>
</form>
{% endblock body %}