.case-section {
    padding: 0;
    color: white;
    display: flex;
    justify-content: center;
    background: none;
}

.case-container {
    width: 90%;
    max-width: 1300px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(5px);
    border-radius: 20px;
    padding: 60px 30px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
}

.case-header {
    text-align: center;
    margin-bottom: 50px;
}

.case-header h1 {
    font-size: 3rem;
    font-weight: 100;
}

.case-header p {
    font-size: 1.1rem;
    color: #ccc;
    max-width: 700px;
    margin: 15px auto 0;
}

.case-card {
    background: rgba(255, 255, 255, 0.03);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 18px;
    padding: 30px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    height: 100%;
}

.case-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
}

.case-card img {
    width: auto;
    max-width: 100%;
    height: 340px;
    object-fit: cover;
    border-radius: 15px;
    margin-bottom: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.case-card h5 {
    font-size: 1.4rem;
    margin-bottom: 15px;
    font-weight: 600;
}

.case-card a {
    color: #1b74ff;
    font-weight: 500;
    text-decoration: none;
}

.case-card a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .case-card img {
        height: 220px;
    }

    .case-header h1 {
        font-size: 28px;
    }

    .case-header p{
        font-size: 17px;
    }
}